<header th:fragment="header">
    <div class="logo">
        <h1>
            <a href="/home" class="no-underline">EasyBid</a>
        </h1>
    </div>
    
    <!-- 로그인된 사용자가 아니라면 로그인 버튼을 보임 -->
    <div class="auth-buttons" th:unless="${session.userId}">
        <a href="/user/login">
            <button>Login</button>
        </a>
    </div>

    <!-- 로그인된 사용자가 있다면 로그인 정보를 표시 -->
    <div class="auth-buttons" th:if="${session.userId}">
        <button>
            <a href="/user/profile" class="no-underline">
                마이페이지
                <!-- <img src="img/user/user-page.png" alt=""> -->
            </a>
        </button>
        <!-- <button>
            <a href="/user/alarm" class="no-underline">
                <img src="img/user/user-page.png" alt="">
            </a>
        </button> -->
        <button>
            <a href="/user/logout" class="no-underline">
                로그아웃
                <!-- <img src="img/user/sign-out-red.png" alt=""> -->
            </a>
        </button>
    </div>
</header>