<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>

    <link rel="stylesheet" href="/css/general.css">
</head>

<body>

    <!-- 헤더 포함 -->
    <header th:replace="fragments/header.html :: header"></header>

    <div>
        <label for="userEmail">이메일</label>
        <input type="text" id="userEmail" th:value="${user.userEmail}" disabled>

        <label for="userName">이름</label>
        <input type="text" id="userName" th:field="${user.userName}" disabled>
    </div>

    <!-- 푸터 포함 -->
    <footer th:replace="fragments/footer.html :: footer"></footer>
</body>

</html>